<center>
<h2>Log Practice Session Info</h3>



<%  if @practice.length > 0 %>
<% @practice.each do |i| %>

<form method="post" action="/practice/<%=current_user.id%>">
<p><input type = "radio" name = "exercise" value = "<%= i.lesson.exercise %>"><%= i.lesson.exercise %> - Previous BPM = <%= i.current%></p>
<% end %>
<p><input type="submit" value="Update"></p>
</form>



<h4>Or, choose from the full list of practices to log:</h4>
<% else %>

<h4>Choose from the full list of practices to log:</h4>

<% end %>
<br><br>
<% @all_lessons.each do |i| %>

<form method="post" action="/practice/<%=current_user.id%>">
<p><input type = "radio" name = "exercise" value = "<%= i.exercise %>"><%= i.exercise %><br><%= i.description%></p>
<% end %>
<input type="submit" value="Update">
</form>

</center>