<h1> Profile Page for <%= @profile.username %> </h1>
<br><br>
<p><b>Hometown: </b> <%= @profile.hometown %></p>

<p><b>Favorite Drummer: </b> <%= @profile.favorite_drummer %></p>


<p><b>Member Since: </b> <%= @profile.created_at.strftime("%B %Y") %></p>
<br>
<br>
Practice Log:
<br>
<br>
<% @profile.goals.each do |i| %>
<p><b><%= i.lesson.exercise %></b> - <%= i.lesson.description %><br>
Goal: <%=i.aim%>
Last BPM: <%= i.current %>
</p>
<% end %>
<% if logged_in? && @profile.id == current_user.id %>
<a href = "/profile/<%= @profile.id%>/edit"><button type="button">Edit Profile</button></a>
<br><br>
<a href = "/profile/<%= @profile.id%>/delete"><button type="button">Delete Profile</button></a>
<% end %>